
:root{
  --accent-color:#2196F3;
  --main-font:'Roboto', sans-serif;
  --secondary-font: "Raleway", sans-serif;  
}
html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding:0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}
img{
  display: block;

}
.list{
  list-style: none; 
}

.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms ;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
 
}

.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-duration: 250ms ;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 250ms;
}

.backdrop.is-hidden.modal{
  transform: translate(-50% , -50%) scale(0) ;
  transition-duration:250ms ;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.modal-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}
.modal{
  position: relative;
  transform:  scale(1);
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 250ms;
  padding: 40px;

}
.modal-form{
  display: flex;
  flex-direction: column;
}
.close-btn{
  position: absolute;
  top: 8px;
  right:8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}




/*  =========== HEADER  ============ */
.header{
  border-bottom: 1px solid #ECECEC; 
}
.container-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;   
}


.navigation{
  display: flex;
  align-items: center;
}

.navigation-list{
  display: flex;
  
}
.navigation-list-item:not(:last-child){
margin-right: 50px;
}


 .navigation-list-link.studio::after{
   content: "";
   position: absolute;
   left: 0;
   bottom: 0 ;
   display: block;
   width: 100%;
   height: 4px;
   border-radius: 2px;
   background-color: var(--accent-color);
 }
  .navigation-list-link.portfolio::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0 ;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}


.address-list{
  display: flex; 
}
.address-list-item:not(:last-child){
  margin-right: 30px;
 }

.address{
  margin-left: 305px;
}
.logo-container{
display: flex;
}
.logo{
 
  font-family:var(--secondary-font)
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right:93px;
 
}

.logo-web{
  color: #2196F3;
}
.studio-logo{
  color: #FFFFFF;
}
.address-list{
display: flex;

}
.address-list-link{
display: flex;
align-items: center;
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
color: #757575;

transition-duration: 250ms ;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}
.header-address-icon{
margin-right: 10px;
fill: currentColor;

}
.navigation-list-link{
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;


  
  transition-duration: 250ms ;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}

.navigation-list-link:hover,
.navigation-list-link:focus{
color:var(--accent-color); 
cursor: pointer;
}

.address-list-link:hover,
.address-list-link:focus{
color:var(--accent-color);
color:var(--accent-color);
cursor: pointer;
}








/*  ============END  HEADER  ============ */

/*  =========== HERO  ============ */

.overlay{
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image:linear-gradient(
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)),
   url(../images/hero/hero.jpg);
  background-color: #2F303A;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}


.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.364;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
}

.hero-btn,
.modal-form-btn{
display: block;
padding: 10px 32px;
font-weight: 700;
border: 0;
border-radius: 4px;
font-size: 16px;
line-height: 1.875;
display: inline;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
background-color: var(--accent-color);


}
.modal-form-btn{
align-self: center;
margin-top: 30px ;

}


/*  =========== END HERO  ============ */

/*  =========== BENEFITS  ============ */ 
.benefits-list{
  display: flex;
 justify-content: space-between;
}

.benefits-list >li {
 flex-basis: 270px;
 margin-right: 30px;
}
.benefits-list >li:last-child{
   margin-right: 0px;
}
.benefits-title{
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin-bottom: 10px;

}
.benefits-description{
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #757575;
}
.benefits-list-item::before{
content: '';
display: block;
height: 120px;
background-repeat: no-repeat;
background-position: center;
background-color: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
}
.icon-vector::before{
background-image: url(../images/features/vector.svg);
}

.icon-clock::before{
background-image: url(../images/features/clock.svg);
}
.icon-diagram::before{
background-image: url(../images/features/diagram.svg);
}
.icon-astronaut::before{
background-image: url(../images/features/astronaut.svg);
}




/*  =========== END BENEFITS  ============ */

/*  =========== WHAT WE DO   ============ */ 
.section-title {

  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  align-items: center;
}
.whatwedo-list{
  display: flex;
}
.whatwedo-list> li {
  margin-right: 30px;
}
.whatwedo-list> li:last-child {
  margin-right: 0px;
}
.whatwedo-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color:#FFFFFF;
}
.whatwedo-thumb{
  position: relative;
}
.whatwedo-title{
  display: flex
  margin: 0auto;
  padding: 27px 0px ;

  position: absolute;

  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  transform: translate(0,-70px)
}

/*  =========== END WHAT WE DO   ============ */

/*  =========== OUR TEAM   ============ */ 
.team {
  background: #f5f4fa;
}
.team-list{
  display: flex;
}
.team-list> li {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}
.team-list > li:last-child {
  margin-right: 0px;
}
.team-list-img{
  margin-bottom: 30px;
}
.member-name{
font-weight: 500;
font-size: 16px;
line-height: 1.186;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 10px;
}

.member-profession{
font-weight: 400;
font-size: 16px;
line-height: 1.186;
letter-spacing: 0.03em;
color: #757575;
text-align: center;
margin-bottom: 16px;
}
.sosial-list{
  display: flex;
  margin-bottom: 24px;
  margin-right: 32px;
  margin-left: 32px;
  justify-content: space-between;
  
}
.sosial-link{
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #afb1b8;

  transition-duration: 250ms ;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)
}
.links-svg{
 width: 20px;
 height: 20px;
 fill: currentColor;
}
 .sosial-link:hover,
 .sosial-link:focus{
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}


  /*  ===========CLIENTS  ============ */
  .clients-list{
    display: flex;
    justify-content: space-between;
    
  }
 .clients-item-pic{
  display: flex;
  width: 170px;
  height: 90px;
  color:#AFB1B8;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;   
  align-items: center;
  justify-content: center;


  transition-duration: 250ms ;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)
}
.clients-svg{
 fill:currentColor ;
}
.clients-item-pic:hover{
  color: var(--accent-color);
  border-color:var(--accent-color)
}

 /*  ===========END CLIENTS ============ */
/*  ===========END  OUR TEAM   ============ */

/*  ===========FOOTER ============ */
.footer{
  background: #2F303A; 
  padding-top:60px ;
  padding-bottom:60px ;
}
.footer.address{
    display: block;
}
.footer-logo {
  display: inline-block;
  font-family:var(--secondary-font)
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 20px;
}
.footers-titles{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}



.address-location{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 9px;
  }
  .footer-address-link{
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);


      transition-duration: 250ms ;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)
  }
  .footer-address-link:hover,
  .footer-address-link:focus{
    color:var(--accent-color);
  }
  .footer-address-item:not(:last-child){
      margin-bottom: 9px;
  }
  .footer-sosial-list{
    display: flex;
  }
   .footer-sosial-link{
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);


    transition-property: background-color;
    transition-duration: 250ms ;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
   
   }
   .footers-sosial-items:not(:last-child){
    margin-right: 10px;
  }
   .footer-sosial-link:hover{
    background-color: var(--accent-color);
   }
   .all-footer{
     display: flex;
   }
   .address-part{
     margin-right: 70px;
   }
  .sosial-part{
    margin-right: 93px;
  }
 
   
    /*  ===========END FOOTER ============ */

     /*  ===========PORTFOLIO ============ */
    
     .portfolio-btn-list{
         display: flex;
         justify-content: center;
         margin-bottom: 50px;
     }
    
     .portfolio-btn{
         margin-right: 8px;
     }
     .portfolio-btn{
      padding: 6px 22px;
      border-style: none;
      border-radius: 4px;
      background-color: #f5f4fa;
      color: #212121;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.625;
      text-align: center;
      letter-spacing: 0.03em;


      transition-duration: 250ms ;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
    }
    .portfolio-btn:hover,
    .portfolio-btn:focus{
      color: #FFFFFF;
      background: var(--accent-color);
    }
    .portfolio-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    
    }
    .portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    }
    .portfolio-gallery{
        display: flex;
        flex-wrap: wrap;
    }
   
    .portfolio-item{
      width: 370px;
      margin-right: 30px;
      margin-bottom: 30px;

      transition-duration: 250ms ;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)
    }
    .poster{
      padding-left: 0px;
      padding-right: 0px;
    }
    .card-content{
      background: #FFFFFF;
      border-right: 1px solid #EEEEEE;
      border-left:  1px solid #EEEEEE;
      border-bottom:  1px solid #EEEEEE;
      box-sizing: border-box;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 20px;
      padding-bottom: 20px;
      
      /*border-bottom-right-radius: ;
      border-bottom-left-radius: ;
      overflow:hidden*/
    }
    .portfolio-title{
      margin-bottom: 4px;
    }
    .portfolio-item:nth-child(3n){
      margin-right: 0px;
  }
  .portfolio-item:nth-last-child(-n+3) {
      margin-bottom: 0px;
  }
  .portfolio-item:hover,
  .portfolio-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
 .portfolio-thumb{
   position: relative;
   overflow: hidden;
 }
 .portfolio-thumb::after{
   display: inline-block;
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 1;

   background: rgba(33, 150, 243, 0.9);
   opacity: 0;
   transform: translateY(100%);
   
 }

 .portfolio-thumb:hover::after{
   opacity: 1;
   transform: translateY(0%);
   transition-duration: 250ms ;
   transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;

 }
 .portfolio-overlay-thumb{
  display:inline-block;
  position: absolute; ;
  top: 0;
  left: 0;
  z-index: 2;
  
  
 
 }
 .portfolio-overlay-text{
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1,56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  opacity: 0
  
   }
 .portfolio-thumb:hover .portfolio-overlay-text{
   opacity: 1;
   transition-duration: 250ms ;
   transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
 }



.modal-form-title{
font-weight: 700;
font-size: 20px;
line-height:1,15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 30px;
}
.modal-form-input{
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
}
.modal-form-input:focus +.modal-icon-svg{
 fill:var(--accent-color) ;
 transition-duration: 250ms ;
 transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}
.user-message:focus{
  transition-duration: 250ms ;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}
.modal-form-input:focus,
.user-message:focus{
outline: none;
border: 1px solid var(--accent-color)  ;
}

.user-message{
height: 120px;
width: 100%;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
padding-left: 16px;
padding-top: 12px;
margin-bottom: 20px;
margin-top: 4px;
}
.modal-form-field textarea::placeholder{
font-weight: 400;
font-size: 12px;
line-height: 1,16;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.modal-form-wrapp{
position: relative;
display: block;
}

.modal-icon-svg{
position: absolute;
width: 18px;
height: 18px;
top: 50%;
left: 12px;
transform: translateY(-50%);

}
.form-label{

font-weight: 400;
font-size: 12px;
line-height: 1,16;
letter-spacing: 0.01em;
color: #757575;
}
.modal-link{
display: inline-block;
}

.checkbox{
-webkit-appearance:none;
  -moz-appearance:none;
       appearance:none;

     position: absolute;
}

.checkbox-icon{
display: flex;
align-items: center;
width: 16px;
height: 15px;
border: 2px solid  #212121;
border-radius: 4px;
margin-right: 8.38px;
}
.checkbox:checked + .checkbox-icon{
background-color: var(--accent-color);
border-color: var(--accent-color);
background-image: url(../images/icon\ check.svg);
background-size: contain;
background-origin: border-box;

}
.checkbox:checked ~ .checkbox-icon {
transition-duration: 250ms ;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}

.check-label{
display: flex;
align-items: center;
}
.policy-text{
font-weight: 400;
font-size: 14px;
line-height:1,71;
letter-spacing: 0.03em;
color: #757575;
}
.sign-btn{
display: flex;
align-items:center ;
justify-content: center;
width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;  

}
.footers-titles-sign{
text-transform: initial;
font-weight: 700;
font-size: 16px;
line-height: 1,87px;
letter-spacing: 0.06em;
color: #FFFFFF;
margin-right: 10px;

}
.sign-up-input{
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
margin-right: 12px;
background-color: transparent;
padding-left: 16px;

}
.sign-up-input:focus,
.sign-btn:focus{
cursor: pointer;

}
.sign-part-wrapp{
display: flex;
}
.sign-svg{
display: flex;

}